<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Information</title>
</head>
<body>
    <h1>Dog Information</h1>
    <div>
        <p>Name: {{ dog_info['name'] }}</p>
        <p>Good with Children: {{ dog_info['good_with_children'] }}</p>
        <p>Good with Other Dogs: {{ dog_info['good_with_other_dogs'] }}</p>
        <p>Shedding: {{ dog_info['shedding'] }}</p>
        <p>Grooming: {{ dog_info['grooming'] }}</p>
        <p>Drooling: {{ dog_info['drooling'] }}</p>
        <p>Coat Length: {{ dog_info['coat_length'] }}</p>
        <p>Good with Strangers: {{ dog_info['good_with_strangers'] }}</p>
        <p>Playfulness: {{ dog_info['playfulness'] }}</p>
        <p>Protectiveness: {{ dog_info['protectiveness'] }}</p>
        <p>Trainability: {{ dog_info['trainability'] }}</p>
        <p>Energy: {{ dog_info['energy'] }}</p>
        <p>Barking: {{ dog_info['barking'] }}</p>
        <p>Min Life Expectancy: {{ dog_info['min_life_expectancy'] }}</p>
        <p>Max Life Expectancy: {{ dog_info['max_life_expectancy'] }}</p>
        <p>Max Height Male: {{ dog_info['max_height_male'] }}</p>
        <p>Max Height Female: {{ dog_info['max_height_female'] }}</p>
        <p>Max Weight Male: {{ dog_info['max_weight_male'] }}</p>
        <p>Max Weight Female: {{ dog_info['max_weight_female'] }}</p>
        <p>Min Height Male: {{ dog_info['min_height_male'] }}</p>
        <p>Min Height Female: {{ dog_info['min_height_female'] }}</p>
        <p>Min Weight Male: {{ dog_info['min_weight_male'] }}</p>
        <p>Min Weight Female: {{ dog_info['min_weight_female'] }}</p>
    </div>
</body>
</html>
